@page "/Service"
@using StrawberryShake
@inject OnChatStartedSubscription OnChatStarted

@code {
    private string? _sessionId;
    private IDisposable _session;
    private readonly List<ICustomerChat> _openChats = new();

    protected override void OnInitialized()
    {
        UserContext.UserId = "2";
        
        OnChatStarted
            .Watch()
            .Subscribe(result =>
            {
                if (result.IsSuccessResult())
                {
                    _openChats.Add(result.Data!.OnChatStarted);
                    StateHasChanged();
                }
            });
    }

    private async Task StartChat(ICustomerChat chat)
    {
        _sessionId = chat.SessionId;
        _openChats.Remove(chat);
    }
}

<h3>New Customer Chats</h3>

<ChatOverview OpenChats="@_openChats" StartChat="StartChat" />

@if (!string.IsNullOrEmpty(_sessionId))
{
    <Chat SessionId="@_sessionId" />
}